.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: fill;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 99;
  padding-top: 9%;
  font-size: 16px;
}

.modal-content {
  width: 500px;
  background-color: white;
  margin: 5%;
}

.modal-header {
  padding: 10px;
  background-color: #00a1f1;
}

.modal-footer {
  padding: 10px;
  background-color: rgb(202, 202, 202);
  text-align: right;
}

.modal-title {
  margin: 0;
  color: white;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #f1f1f0;
}

.exitButton {
  color: white;
  background-color: rgb(63, 63, 63);
  font-family: Arial;
  padding-top: 0.5%;
}

.exitButton:hover {
  background: rgba(0, 0, 0, 0.1);
}

hr {
  background-color: rgba(255, 0, 0, 0.5);
  margin-top: 3%;
  margin-bottom: 3%;
}

h6 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: rgb(141, 141, 141);
}


  return (
    <div
      className="modal"
      onClick={props.onClose}
      style={{ height: document.body.scrollHeight + 20 }}
    >
      <div className="modal-content" onClick={(e) => e.stopPropagation()}>
        <div className="modal-header">
          <h4 className="modal-title">Petah INC</h4>
        </div>
        <div className="modal-body">
          <h6>Vendor contact:</h6>
          petAH@xasdx.com <br />
          <hr />
          <h6>Buisness Unit Acquiring:</h6>
          Insurance <br />
          <hr />
          <h6>Lead Data Steward:</h6>
          Tom Brady
          <br /> <hr />
          <h6>Business Contact:</h6> CONTACST
          <br /> <hr />
          <h6>Main Users of Data:</h6> Insurances
          <br /> <hr />
          <h6>Brief Desc of Data Used:</h6> global variable checking
          <br /> <hr />
          <h6>Value Dervied From Data:</h6> Risk Assesment
          <br /> <hr />
          <h6>Contracts in Zycus:</h6> H1Z1Z0MB13Sa
          <br /> <hr />
          <h6>IT Source:</h6> MASH
          <br />
          <hr />
          <h6>WorkdayLink:</h6> nothjign imporetant here
        </div>
        <div className="modal-footer">
          <button onClick={props.onClose} className="exitButton">
            Close
          </button>
        </div>
      </div>
    </div>
  );
