body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* * {
  overflow: hidden;
} */

/* tr {
  background-color: beige;
} */

.MuiTable-root {
  background-color: beige;
}

.MuiToolbar-root {
  background-color: beige;
}

a {
  text-decoration: none;
}

.MuiTableCell-root {
  background-color: beige;
}
